@model HelloDotNET.Login


@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Produk</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Id_User)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Id_User)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Username)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Username)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Kunci)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Kunci)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Firstname)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Firstname)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.lastname)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.lastname)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
