@model HelloDotNET.Produk

@{
    ViewBag.Title = "Create";
    
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Produk</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_Produk)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Id_Produk)
            @Html.ValidationMessageFor(model => model.Id_Produk)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nama_produk)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nama_produk)
            @Html.ValidationMessageFor(model => model.Nama_produk)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Harga)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Harga)
            @Html.ValidationMessageFor(model => model.Harga)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Spek)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Spek)
            @Html.ValidationMessageFor(model => model.Spek)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

