@model HelloDotNET.Produk

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Produk</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_Produk)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_Produk)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nama_produk)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nama_produk)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Harga)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Harga)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Spek)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Spek)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
