@model IEnumerable<HelloDotNET.Produk>


@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/Layout.cshtml";
 }

   <body>

    <div class="tes">

    </div>



    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

        <nav class="uk-navbar uk-margin-large-bottom navbar">

            <a class="uk-navbar-brand uk-hidden-small" href="@Url.Action("Index", "Hello")">Home</a>
            <ul class="uk-navbar-nav uk-hidden-small">
                <li class="uk-active">
                    <a href="@Url.Action("Product", "Hello")">Product</a>
                </li>
                <li>
                    <a href="@Url.Action("Service", "Hello")">Service</a>
                </li>
                <li>
                    <a href="@Url.Action("Event", "Hello")">Event</a>
                </li>
                <li>
                    <a href="@Url.Action("About_Us", "Hello")">About Us</a>
                </li>
                <li>
                    <a href="@Url.Action("LoginCustomer", "Hello")">Login</a>
                </li>
            </ul>
            <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
            <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Home</div>
        </nav>

        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-1-1">
                <h1 class="uk-heading-large">Product</h1>
            </div>
        </div>

        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-1-1">

                @*<ul class="uk-subnav uk-subnav-pill" data-uk-switcher="{connect:'#switcher-content'}">
                    <li class=""><a href="#">All</a></li>
                    <li class=""><a href="#">iPhone</a></li>
                    <li class=""><a href="#">Macbook</a></li>
                </ul>*@


                <ul class="uk-subnav uk-subnav-pill" data-uk-switcher="{connect:'#subnav-pill-content'}">
                    <li class="uk-active"><a href="#">All</a></li>
                    <li class=""><a href="#">iPhone</a></li>
                    <li class=""><a href="#">Macbook</a></li>
                </ul>

                <ul id="subnav-pill-content" class="uk-switcher">

                    @*all item*@
                    <li class="uk-active">
                      <div class="uk-overlay overlay" id="#1">
                         <img src="../img/iPhone/color_blue.jpg" width="120" height="120" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iPhone 5C</p>
                                   
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#satu'}">Detail</button>
                                  
                                    </div>
                                </div>
                        </div>
                        <div id="satu" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                               tes 123
                            </div>
                        </div>



                        <div class="uk-overlay overlay" id="#2">
                            <img src="../img/iPhone/color_gold.jpg" width="120" height="120" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iPhone 5C</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#dua'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="dua" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                <p>ieu teh dua</p>  
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/iPhone/color_gray.jpg" width="120" height="120" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iPhone 5C</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#tiga'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="tiga" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/iPhone/color_green.jpg" width="120" height="120" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iPhone 5C</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#empat'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="empat" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/iPhone/color_pink.jpg" width="120" height="120" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iPhone 5C</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#lima'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="lima" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/iPhone/color_yellow.jpg" width="120" height="120" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iPhone 5C</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#enam'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="enam" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/iPhone/color_silver.jpg" width="120" height="120" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iPhone 5S</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#tujuh'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="tujuh" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/iPhone/color_white.jpg" width="120" height="120" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iPhone 5C</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#delapan'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="delapan" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/macbook/overview_wireless_hero_enhanced.png" width="300" height="300" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>Macbook Air</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#Mac-1'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="Mac-1" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/macbook/hero (1).jpg" width="300" height="300" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iMac</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#Mac-2'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="Mac-2" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/macbook/overview_osx_hero.jpg" width="300" height="300" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>Macbook Air</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#Mac-3'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="Mac-3" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/macbook/overview_hero_hero.jpg" width="300" height="300" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>Macbook Air</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#Mac-4'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="Mac-4" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/macbook/hero (1).png" width="300" height="300" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iMac</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#Mac-5'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="Mac-5" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/macbook/hero (4).jpg" width="300" height="300" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iMac</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#Mac-6'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="Mac-6" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                    </li>
                    @*end all item*@

                    @*item iphone*@
                    <li class="">
                        <div class="uk-overlay overlay" id="#1">
                            <img src="../img/iPhone/color_blue.jpg" width="120" height="120" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iPhone 5C</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#my-id'}">Detail</button>

                                </div>

                            </div>
                        </div>

                        <div id="my-id" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/iPhone/color_gold.jpg" width="120" height="120" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iPhone 5C</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#my-id'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="my-id" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/iPhone/color_gray.jpg" width="120" height="120" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iPhone 5C</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#my-id'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="my-id" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/iPhone/color_green.jpg" width="120" height="120" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iPhone 5C</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#my-id'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="my-id" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/iPhone/color_pink.jpg" width="120" height="120" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iPhone 5C</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#my-id'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="my-id" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/iPhone/color_yellow.jpg" width="120" height="120" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iPhone 5C</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#my-id'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="my-id" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/iPhone/color_silver.jpg" width="120" height="120" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iPhone 5S</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#my-id'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="my-id" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/iPhone/color_white.jpg" width="120" height="120" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iPhone 5C</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#my-id'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="my-id" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                    </li>
                    @*end item iphone*@
                    <li class="">

                        <div class="uk-overlay overlay">
                            <img src="../img/macbook/overview_wireless_hero_enhanced.png" width="300" height="300" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>Macbook Air</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#my-id2'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="my-id2" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/macbook/hero (1).jpg" width="300" height="300" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iMac</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#my-id2'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="my-id2" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/macbook/overview_osx_hero.jpg" width="300" height="300" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>Macbook Air</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#my-id2'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="my-id2" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/macbook/overview_hero_hero.jpg" width="300" height="300" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>Macbook Air</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#my-id2'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="my-id2" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/macbook/hero (1).png" width="300" height="300" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iMac</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#my-id2'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="my-id2" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                        <div class="uk-overlay overlay">
                            <img src="../img/macbook/hero (4).jpg" width="300" height="300" alt="">
                            <div class="uk-overlay-area">
                                <div class="uk-overlay-area-content">
                                    <p>iMac</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#my-id2'}">Detail</button>
                                </div>
                            </div>
                        </div>

                        <div id="my-id2" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>

                    </li>
                </ul>

                               

    <div id="offcanvas" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas">
                <li class="uk-active">
                    <a href="@Url.Action("Product", "Hello")">Product</a>
                </li>
                <li>
                    <a href="@Url.Action("Service", "Hello")">Service</a>
                </li>
                <li>
                    <a href="@Url.Action("Event", "Hello")">Event</a>
                </li>
                <li>
                    <a href="@Url.Action("About_Us", "Hello")">About Us</a>
                </li>
                <li>
                    <a href="@Url.Action("LoginCustomer", "Hello")">Login</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="uk-tooltip"></div>
</body>
</html>