@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<body>

    <div class="tes">
        <div class="logo">
            <img src="../img/4speedcode-logo.png" width="115" height="120" alt="logo">
        </div>
    </div>



    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

        <nav class="uk-navbar uk-margin-large-bottom navbar">

            <a class="uk-navbar-brand uk-hidden-small" href="@Url.Action("Index", "AfterLogin")">Home</a>
            <ul class="uk-navbar-nav uk-hidden-small">
                <li>
                    <a href="@Url.Action("Product", "AfterLogin")">Product</a>
                </li>
                <li>
                    <a href="@Url.Action("Create", "Servi")">Service</a>
                </li>
                <li>
                    <a href="@Url.Action("About_Us", "Hello")">About Us</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Hello")">Logout</a>
                </li>
            <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
            <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Home</div>
        </nav>

        <div class="uk-grid" data-uk-grid-margin="">


        </div>
    </div>

    </div>


    <div class=" uk-text-center ">
        <div class="uk-vertical-align-middle" style="width: 440px;">
            <div class="uk-panel uk-panel-box uk-form">

                <div class="uk-form-row">
                    <input class="uk-width-1-1 uk-form-large" type="text" placeholder="Alamat">
                </div>
               


                <div class="uk-form-row">
                    <input class="uk-width-1-1 uk-form-large" type="text" placeholder="Bank">
                </div>

                <div class="uk-form-row">
                    <input class="uk-width-1-1 uk-form-large" type="text" placeholder="Nomer Rekening">
                </div>

                
                </div>
                <div class="uk-form-row">
                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#satu'}">Order</button>
                </div>

                <div id="satu" class="uk-modal">
                    <div class="uk-modal-dialog">
                        <a class="uk-modal-close uk-close"></a>
                        Terima kasih transaksi sedang di proses
                    </div>
                </div>





                    <div class="uk-tooltip"></div>
</body>