@model IEnumerable<HelloDotNET.Servi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tanggal_Pembelian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nama_produk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status_Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Service)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tanggal_Pembelian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nama_produk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status_Service)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Service }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id_Service }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Service})
        </td>
    </tr>
}

</table>
